<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0;">

    <meta property="og:description" content="{{ CONFIG['description'] }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ CONFIG['base_url'] }}" />
    <meta property="og:image" content="{{CONFIG['base_url']}}banner.png"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="{{CONFIG['base_url']}}banner.png"/>
    <meta name="twitter:title" content="{{CONFIG['title']}}"/>
    <meta name="twitter:description" content="{{ CONFIG['description'] }}"/>
    <meta name="application-name" content="{{CONFIG['title']}}">

    <title>{% block title %}{% endblock %} - {{ CONFIG["title"] }}</title>
    <base href="{{ CONFIG['base_url'] }}">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="feed" type="application/rss+xml" href="index.xml" title="{{ CONFIG['title'] }}">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="assets/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/stylesheets/victor.css">
    <link rel="stylesheet" href="assets/stylesheets/syntax_highlight.css">
    <link rel="stylesheet" href="assets/stylesheets/projects.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

</head>
<body>
<header>
    <nav class="navbar">
        <ul class="nav-menu">
            {% for link in CONFIG["navbar"] %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ link["url"] }}">{{ link["name"] }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>
{% block content %}

{% endblock %}
<footer>
    &copy; Luke Briggs
</footer>
<script>
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector(".nav-menu");

    hamburger.addEventListener("click", mobileMenu);

    function mobileMenu() {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");

    }

    const navLink = document.querySelectorAll(".nav-link");

    navLink.forEach(n => n.addEventListener("click", closeMenu));

    function closeMenu() {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
    }

    if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
    navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
    // Registration was successful
    console.log('Registered!');
    }, function(err) {
    // registration failed :(
    console.log('ServiceWorker registration failed: ', err);
    }).catch(function(err) {
    console.log(err);
    });
    });
    } else {
    console.log('service worker is not supported');
    }

</script>
</body>
</html>