{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block head %}
<meta name="description" content="{{ CONFIG['description'] }}">
{% endblock %}

{% block content %}
<style>
    .description {
        margin-top: 0.5rem;
    }
    @media only screen and (max-width: 768px) {
        .description {
            margin-top: 0.5rem
        }
    }
</style>
<div class="center_container">
    <div class="center-block">
        <h1 class="site-title">{{ CONFIG["title"] }}</h1>
        <p class="description">{{ CONFIG["subtitle"]|safe }}</p>
        <ul class="social-link-container">
            {% for link in social_links %}
                <li class="social-link"><a href="https://{{ link.link }}" aria-label="{{ link.site.url }}"><i class="fa {{ link.site.logo }}"></i></a></li>
            {% endfor %}
            {% for link in other_links %}
                <li class="social-link"><a href={{ link['link'] }}><i class="fa {{ link['icon'] }}"></i></a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}