{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="center_container">
    <div class="cener-block">
        <h1 class="site-title">{{ CONFIG["title"] }}</h1>
        <p class="description" style="margin-top: -1rem">{{ CONFIG["subtitle"]|safe }}</p>
        <ul class="social-link-container">
            {% for link in social_links %}
                <li class="social-link"><a href="https://{{ link.link }}" aria-label="{{ link.site.url }}"><i class="fa {{ link.site.logo }}"></i></a></li>
            {% endfor %}
            {% for link in other_links %}
                <li class="social-link"><a href={{ link['link'] }}><i class="fa {{ link['icon'] }}"></i></a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}